<a href="https://colab.research.google.com/github/rsaimuralipavan/Data-Structures-Algorithms-/blob/master/Stats_Part1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as p
import math as m

data = p.read_csv('udemy_courses.csv')

data.head()

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

In [8]:
data['price'].mean(0)   #axis: 0 of column mean 1 for row.

66.0494834148994

In [9]:
data['price'].median()

45.0

suppose consider we got a new record in the input file where Price is NA. in order to replace the NA values. we can use Mean or Median.  if we campare Mean and median, Median is less than Mean. stating Median is more accurate to replace the NA's over Mean.

In [10]:
data['price'].mode()

0    20
dtype: int64

In [19]:
vari = data['price'].var()
print("variance",vari)
#variance - is very high so the data are scattered very far from mean. 

print("SD",m.sqrt(vari))

variance 3721.702201256114
SD 61.00575547648037

In [14]:
#frequency table - mean
#total no of members - 54
# AGE        Frequency
#15           02
#16           05
#17           11
#18           09
#19           14
#20           13
AGE=[15,16,17,18,19,20]
Freq=[2,5,11,9,14,13]
sum = 0
total_pop = 54
for i in range(len(AGE)):
  sum = sum + AGE[i]*Freq[i]
print("AVG Mean of the Freq Table is: ", str(sum/total_pop))

AVG Mean of the Freq Table is:  18.24074074074074